@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
	--tt-toolbar-height: 44px;
	--tt-theme-text: var(--tt-gray-light-900);

	.dark & {
		--tt-theme-text: var(--tt-gray-dark-900);
	}
}

body {
	font-family: "Inter", sans-serif;
	color: var(--tt-theme-text);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	padding: 0;
}

html,
body,
#root,
#app {
	height: 100%;
	background-color: var(--tt-bg-color);
}

body {
	overflow-y: auto;
}

.tiptap.ProseMirror {
	font-family: "DM Sans", sans-serif;
}

.content-wrapper {
	height: calc(100% - var(--tt-toolbar-height));
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: block;
		width: 0.5rem;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--tt-scrollbar-color);
		border-radius: 4px;
	}

	/* Firefox scrollbar */
	scrollbar-width: thin;
	scrollbar-color: var(--tt-scrollbar-color) transparent;
}

.simple-editor-content {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	overflow-y: hidden;
}

.title-editor-content {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}

.description-editor-content {
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}

.simple-editor-content .tiptap.ProseMirror {
	padding: 1.5rem 3rem 5rem 2.5rem;
}

.title-editor-content .tiptap.ProseMirror {
	padding: 3rem 0rem 0rem 2.5rem;
}

.description-editor-content .tiptap.ProseMirror {
	padding: 0rem 0rem 0rem 2.5rem;
}

.tiptap p.is-editor-empty:first-child::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.tiptap p.is-empty::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.tiptap h1.is-editor-empty:first-child::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.tiptap h1.is-empty::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.copyButton {
	position: absolute;
	top: 8px;
	right: 8px;
	background: inherit;
	color: inherit;
	border: none;
	cursor: pointer;
	padding: 5px;
	border-radius: 3px;
}

.copyButton:hover {
	background: inherit;
}

.bubble-menu {
	background-color: var(--color-white);
	border: 0.3px solid var(--color-slate-950);
	border-radius: 0.7rem;
	box-shadow: var(--drop-shadow-2xl);
	display: flex;
	flex-wrap: wrap;
	padding: 0.2rem;
	gap: 1rem;

	.dark & {
		button {
			background-color: unset;
			.tiptap-button-icon {
				color: black;
			}
		}
	}
}

.floating-menu {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 0.1rem;
	border-radius: 0.5rem;
	align-items: flex-start;
	padding: 0.5rem;
	gap: 5;
	border: 0.5px solid #ccc;
	max-width: 12rem;
	width: 12rem;
	max-height: 8rem;
	overflow-y: scroll;
	button {
		background-color: unset;
		padding: 0.275rem 0.425rem;
		border-radius: 0.3rem;
		width: "100%";
		max-width: "100%";
		&:hover {
			width: "100%";
		}

		&.is-active {
			background-color: white;
			color: purple;

			&:hover {
				color: blue;
			}
		}
	}
}

// .toolbar.floating {
// 	position: fixed;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	z-index: 50; // Ensure it's above other content
// 	background-color: white; // Or your preferred bg
// 	border-top: 1px solid #e5e7eb; // Optional: subtle border
// 	padding: 0;
// }

@media screen and (max-width: 480px) {
	.simple-editor-content .tiptap.ProseMirror {
		padding: 2rem 1.5rem;
	}

	.description-editor-content .tiptap.ProseMirror {
		padding: 0rem 0rem 0rem 1.5rem;
	}

	.title-editor-content .tiptap.ProseMirror {
		padding: 1rem 1.5rem;
	}
}
